body{
	background-color:pink;
}
.overskrift {
	font-family: Impact, Charcoal, sans-serif;
	font-size:100px;
	color:blue;
	margin: auto;
	display: block;
	text-align: center;
}
.puff {
	position: absolute;
	display: block;
    right: 20%;
	top: 40%;
    width: 20%;
	height: 30%;
}
.sleepingpuff{
	display: block;
    right: 50%;
	top: 50%;
    width: 20%;
	height: 30%;
	visibility: hidden;
	margin: auto;
	margin-bottom: 5%;
	margin-top: 5%;
}
.button {
    border: solid;
	border-radius: 25px;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: auto;
	display: block;
	visibility: hidden;
}
.button:hover {
	color:green;
}
.button:active {
	color:blue;
}
.overskrift2 {
	font-size:50px;
	color:black;
	margin: auto;
	display: block;
	text-align: center;
}