#app {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: sans-serif;
}

h1 {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	height: 30vh;
	width: 100%;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.inputform {
	width: 15vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#elementlist li{
	list-style: none;
}

#elementlist {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-top: 24px;
	padding-left: 1vw;
	min-width: 27vw;
}

.element {
	outline: none;
	margin-left: 1vw;
	cursor: pointer;
	font-weight: 200;
	font-size: 1.2em;
	line-height: 3vh;
}

*:focus{
	outline: none;
}
.addbutton {
	margin-top: 1vh;
	border: 0.5px solid black;
	background: white;
	flex-grow: 1;
	cursor: pointer;
}

.addbutton:active {
	background: black;
	color: white;
}

.removebutton{
	border: none;
	background: white;
}

.newelement {
	animation: fadein 1s;
}

#resultwrapper {
	padding-top: 10vh;
	display: flex;
	width: 100%;
	justify-content: center;
	font-size: 150px;
	font-weight: 300;
}
#result {
}

.fadeinout {
	animation: fadeinout 1s;
}

.fadeinout2 {
	animation: fadeinout2 1s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeinout {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeinout2 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}