nav{
	float: left;
	padding: 1em;
	padding-bottom: 300px;
	position: fixed;
	margin-left: 0px;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 300px;
}

header{
	text-align: center;
	text-decoration: underline;
	font-family: impact; 
	color: white;
	font-size: 60px;
	
}

h2{
	text-align: center;
	text-decoration: underline;
	font-family: impact;
	color: white;
	font-size: 50px;
	margin-right: 350px;
}

nav ul li{
	background-color: #ff751a;
	border: 2px;
}


body{
	background-color: #0052cc;
}

li a{
	display: block;
	font-size: 40px;
	color: white;
	text-decoration: none; 
	font-family: arial;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	border: 10px;
}

hr{
	color: black;
}

li a:visited{
	color: white;
	text-decoration: none;
}

li a:hover{
	background-color: #ff944d;
	font-size: 50px;
	border: 2px white; 
}

p{
	Font-size: 30px;
	color: white;
}

.pics {
	margin-left: 350px
}