nav{
	float: left;
	padding: 1em;
	padding-bottom: 300px;
	position: fixed;
	margin-left: 0px
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 300px;
}

header{
	text-align: center;
	text-decoration: underline;
	font-family: impact; 
	color: blue;
	font-size: 60px;
	
}

h2{
	text-align: center;
	text-decoration: underline;
	font-family: impact;
	color: blue;
	font-size: 50px;
	margin-right: 350px
}

nav ul li{
	background-color: green;
	border: 2px;
}


body{
	background-color: red;
}

li a{
	display: block;
	font-size: 40px;
	color: orange;
	text-decoration: none; 
	font-family: arial;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	border: 10px;
}

li a:visited{
	
	text-decoration: none;
}

li a:hover{
	background-color: pink;
	font-size: 50px;
	border: 2px white; 
}

p{
	Font-size: 30px;
	color: black;
}

.pics{
	margin-left: 350px;
	
}