body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    background-color: lightgray;
}

.content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 60%;
}

table{
    table-layout: fixed;
}

tr{
    width: 90%;
}

tr h3{
    text-align: center;
}


td img{
    display: flex;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: 300px;
}

td .content_description{
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    height: 150px;
    visibility: hidden;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    text-align: center;
    z-index: 1;
}

li {
    display: inline-flex;
    text-align: center;
}

li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkgreen;
}