body{
	background: url("media/4.jpg") no-repeat;
	top:0%;
	margin:0;
}

#wrapper{
	position: absolute;
	left: 25%;
	top: 15%;
	width: 960px;
	height: 40%;
	border:solid 1px #7986AC;
}

header{
	position: relative;
	background-color: #121a27;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

header img{
	top:4%;
	left:1%;
	position: absolute;
}

#main{
	height: 400px;
	position: relative;
	width:100%;
	margin:0;
	top:0; 
}

.contentBox{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	display: inline-block;
	float: left;
	width: 310px;  
	height: 60px;
	overflow: hidden;
	top:2%;
	left:0.5%;
	margin-right: 1%;
	background-color: rgba(18, 26, 39, 0.8);
	position: relative;
	color: white;
	transition: all .3s ease-out;
}

.contentBox p{
	text-align: left;
	margin-left: 5px;
} 

header h1{
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	color:white;
	text-align: center;
	top: 20%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
}

header h2{
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	color:white;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
}
