body {
    background-color: #C63D0F;
}

h1 {
    color: #3B3738;
    text-align: center;
    font-size: 500%;
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
}

#header {
	background-color: #FDF3E7;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

div.tab {
	background-color: #FDF3E7;
	width: 20%;
	height: 50px;
	border-style: outset;
	font-size: 180%;
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-style: bold;
	text-align: center;
}

#tabs {
	background-color: #C63D0F;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	justify-content: space-between;
}

div.content {
	background-color: #FDF3E7;
	display: none;
	margin-left: 5%;
	margin-right: 5%;
}

#contents {
	background-color: #C63D0F;
}

img {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

#meg {
	display: block;

}