body {
	margin: 0px;
}

h1 {
	font-family: 'Raleway', sans-serif;
}

.code {
	font-family: 'Source Code Pro', monospace;
	color: #0099CC;
	margin-left: 3em;
}


.navigation {
	font-family: 'Raleway', sans-serif;
	z-index: 10;
	width: 100%;
	height: 7vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: white;
	border-bottom: 1px solid #d3d3d3;
	box-shadow: 0px 1px 5px #d3d3d3;
	animation: fadeToGray 0.8s ease-out; 
}

.navitem {
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 25px;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase; 
	color: #d3d3d3;
	animation: fadeToGray 0.9s ease-out; 
	cursor: pointer;
}

.selected {
	color: black;
}

.navitem:hover {
	color: black;
	transition: color 0.6s ease-in-out;
}

#servercode {
	margin-left: 3em;
}

#dokumentasjon {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@keyframes fadeToGray{
	from {
		color: black;
	}
	to {
		color: #d3d3d3;
	}
}
